<%= form_with model: @user_group, url: group_user_group_path do |form| %>
  <h1><%= @user_group.user.email %></h1>
  <div class="card">
    <div class="card-body">
      <%= form.label :role, class: 'form-label' %>
      <%= form.select :role, options_for_select(UserGroup.roles.map { |key, value| [key.humanize, key] }), { prompt: "Select Role" }, class: 'form-control mt-1 mb-1' %>
      <%= form.submit "Update", class: 'btn btn-dark mt-2' %>
    </div>
  </div>
<% end %>