<h1>Admins</h1>
<% @admins.each do |admin| %>
  <div class="card">
    <div class="card-body">
      <%= admin.user.email %><br>
      <div class="d-flex">
        <%= link_to "Edit", edit_group_user_group_path(@group, admin), class: 'btn btn-dark btn-sm' if UserGroupPolicy.new(current_user, @group).edit? && @group.owner.present? %>
        <%= button_to "Delete User", group_path(@group, admin), { onclick: "return confirm('Are you sure you want to delete?')", method: :delete, class: "btn btn-dark btn-sm mx-1" } if UserGroupPolicy.new(current_user, @group).destroy? %>
      </div>
    </div>
  </div>
<% end %>
<hr>
<h1>Moderator</h1>
<% @moderators.each do |moderator| %>
  <div class="card">
    <div class="card-body">
      <%= moderator.user.email %><br>
      <%= link_to "Edit", edit_group_user_group_path(@group, moderator), class: 'btn btn-dark btn-sm' if UserGroupPolicy.new(current_user, @group).edit? %>
      <%= button_to "Delete User", group_path(@group, moderator), { onclick: "return confirm('Are you sure you want to delete?')", method: :delete, class: "btn btn-dark btn-sm" } if UserGroupPolicy.new(current_user, @group).destroy? %>
    </div>
  </div>
<% end %>
<hr>
<h1>Normal User</h1>
<% @normal_users.each do |normal| %>
  <div class="card">
    <div class="card-body">
      <%= normal.user.email %><br>
      <%= link_to "Edit", edit_group_user_group_path(@group, normal), class: 'btn btn-dark btn-sm' if UserGroupPolicy.new(current_user, @group).edit? %>
      <%= button_to "Delete User", group_user_group_path(@group, normal), { onclick: "return confirm('Are you sure you want to delete?')", method: :delete, class: "btn-sm btn bi bi-trash3-fill dropdown-item" } if UserGroupPolicy.new(current_user, @group).destroy? %>
    </div>
  </div>
<% end %>
<hr>
<h1>Pending Members</h1>
<% @pending_members.each do |pending_member| %>
  <div class="card">
    <div class="card-body">
      <%= pending_member.user.email %><br>
      <div class="d-flex">
        <%= link_to "Edit", edit_group_user_group_path(@group, pending_member), class: 'btn btn-dark btn-sm' if UserGroupPolicy.new(current_user, @group).edit? %>
        <%= button_to "Approve", group_user_group_approve_path(@group, pending_member), { method: :put, class: 'btn btn-dark btn-sm mx-1', onclick: "return confirm('Are you sure you want to approve?')" } if UserGroupPolicy.new(current_user, @group).approve? %>
        <%= button_to "Decline", group_user_group_decline_path(@group, pending_member), { method: :delete, class: 'btn btn-dark btn-sm', onclick: "return confirm('Are you sure you want to decline?')" } if UserGroupPolicy.new(current_user, @group).decline? %>
      </div>
    </div>
  </div>
<% end %>
<hr>
<h1>Invited Members</h1>
<% @invited_members.each do |invited_member| %>
  <div class="card">
    <div class="card-body">
      <%= invited_member.user.email %><br>
      <div class="d-flex">
        <%= link_to "Edit", edit_group_user_group_path(@group, invited_member), class: 'btn btn-dark btn-sm' if UserGroupPolicy.new(current_user, @group).edit? %>
      </div>
    </div>
  </div>
<% end %>
<hr>
<h1>Pending Post</h1>
<% @pending_posts.each do |pending_post| %>
  <div class="card">
    <div class="card-body">
      <%= pending_post.content %><br>
      <%= button_to "Publish", group_group_post_publish_path(@group, pending_post), { method: :put, class: 'btn btn-dark btn-sm mx-1', onclick: "return confirm('Are you sure you want to publish?')" } %>
      <%= button_to "Remove", group_group_post_remove_path(@group, pending_post), { method: :put, class: 'btn btn-dark btn-sm', onclick: "return confirm('Are you sure you want to remove?')" } %>
      <div class="d-flex">
      </div>
    </div>
  </div>
<% end %>