<%= image_tag @group.banner.url, class: "w-100", height: "500" if @group.banner? %>
<%= @group.description %><br>
<%= @group.privacy %>
<div class="btn-group float-end">
  <button type="button" class="btn border border-1 btn-sm bi-three-dots" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
  </button>
  <ul class="dropdown-menu dropdown-menu-end dropdown-menu">
    <%= link_to "Edit Group", edit_group_path(@group), class: "btn-sm btn bi bi-pen dropdown-item" %>
    <%= button_to "Delete Group", group_path(@group), { onclick: "return confirm('Are you sure you want to delete?')", method: :delete, class: "btn-sm btn bi bi-trash3-fill dropdown-item" } %>
  </ul>
</div>
<hr>
<%= link_to "Member List", group_user_group_path(@group), class: 'btn btn-dark' %>